@import "~antd/dist/antd.dark.less";

@font-face {
  src: url("/fonts/BrushScriptStd.otf");
  font-family: "BrushScriptStd";
}

#logo {
  width: 300px;
  float: left;
  color: red;
  font-size: 2em;
  font-family: BrushScriptStd;
}
